.tujuan99 {
    font-size: 12px;
    font-family: 'Poppins-Light';
    color: black;
    opacity: 0.37;
    margin-left: 304px;
    margin-top: -30px;
  }
  
  .lokasi99 {
    font-size: 12px;
    font-family: 'Poppins-Light';
    color: black;
    opacity: 0.37;
    margin-left: 58px;
    padding-top: 42px;
    margin-top: -218px;
  }
  
  .budget99 {
    font-size: 12px;
    font-family: 'Poppins-Light';
    color: black;
    opacity: 0.37;
    margin-left: 512px;
    margin-top: -30px;
  }
  
  .gambar99 {
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  .itu.ui.primary.button {
    width: 184px;
    height: 66px;
    position: absolute;
    margin-top: -32px;
    margin-left: 656px;
  }

  .mengatur {
      margin-top:436px;
  }