.ui.cards > .card,
.ui.card {
  width: 337px;;
  height: 600px;
  box-shadow: none;

  border-radius: 14px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(100, 107, 134, 0.151);
          box-shadow: 0px 2px 20px 0px rgba(100, 107, 134, 0.151);
}

.danau {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #293976;
    line-height: 32px;
    padding: 10px 6px;
}

.danadesc_s {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins';
    color: #646B86;
    opacity: 0.67;
    line-height: 24px;
    padding: 30px 6px;
}

.danau_s {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #293976;
    line-height: 32px;
    padding: 10px 6px;
}

.danadesc {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins';
    color: #646B86;
    opacity: 0.67;
    line-height: 24px;
    padding: 0px 6px;
}

.extra_s {
    margin-top: -20px;
    padding: 0px 6px;
}

.extra {
    margin-top: 14px;
    padding: 0px 6px;
}

.harga {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins';
    color: #646B86;
    line-height: 24px;
    padding: 0px 6px;
}

.seratus {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #646B86;
    line-height: 24px;
    padding: 0px 6px;
}



.txtHarga {
    margin-top: 50px;
    padding-bottom: 30px;
}

.iniku.ui.primary.button {
    width: 165px;
    height: 55px;
}

.inikubutton {
    margin-top: -82px;
    margin-left: 132px;
}
.kuta.container {
    margin-top: 20px;
    margin-left: 10px;
}

.my.container {
    margin-top: -624px;
    margin-left: 380px;
}

.nina.container {
    margin-top: -624px;
    margin-left: 378px;
}

.inikartu {
    margin-top: 194px;
    margin-left: 120px;
}