.welcome {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Poppins';
    color: #293976;
    padding-top: 166px;
}

.ui.form {
    position: relative;
    width: 400px;
    height: 50px;
  }

.remember {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Poppins';
    opacity: 0.67;
    margin-top: 12px;
    color: #646B86;
}

.lupa {
    position: relative;
    margin-left: 282px;
    margin-top: -22px;
}

.txtlupa {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Poppins';
    color: #293976;
}

.masuk.ui.primary.button {
    width: 400px;
    height: 50px;
    margin-top: 16px;
}

.atau {
    width: 400px;
    margin-top: 24px;
}

.hehe.ui.blue.basic.button {
    width: 400px;
    height: 50px;
    margin-top: 32px;
}

.hehe.ui.grey.basic.button {
    width: 400px;
    height: 50px;
    margin-top: 32px;
}

.wrap {
    margin-top: -100px;
}

.txtregis {
    position: absolute;
    padding-top: 16px;
    margin-top: 30px;
    font-size: 12px;
    color: #646B86;
    font-weight: 300;
    font-family: 'Poppins';
}

.registext {
    position: absolute;
    margin-top: 28px;
    margin-left: 128px;
    font-size: 12px;
    color: #293976;
    font-weight: 500;
    font-family: 'Poppins';
}

.signnupimg {
    margin-top: -338px;
    margin-left: 620px;
}