.ui.search.selection.dropdown {
    border-style: none;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
}

/* Navbar */
.mynavbar li.nav-item{
  padding-top: 12px;
  padding-left: 32px;
  font-weight: 400;
  font-family: 'Poppins';
}

.mynavbar li a {
  color: #646B86;
  opacity: 0.87;
}

.mynavbar .navbar-brand {
  padding-top: 10px;
}

/* Nav Button */
.mynavbar li button.ui.inverted.primary.button{
  opacity: 0.87;
}

.rectangle {
  height: 140px;
  width: 892px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 0px 30px 0 rgba(130, 162, 189, 0.178);
  margin-top: -76px;
  margin-bottom: 80px;
}

.myborder {
  position: relative;
  margin-top: -202px;
  margin-left: 302px;
  opacity: 0.67;
}

.tujuan {
  font-size: 12px;
  font-weight: 300;
  font-family: 'Poppins';
  color: black;
  opacity: 0.37;
  position: relative;
  margin-left: 588px;
  margin-top: -28px;
}

.lokasi {
  font-size: 12px;
  font-weight: 300;
  font-family: 'Poppins';
  color: black;
  opacity: 0.37;
  position: relative;
  margin-left: 346px;
  margin-top: -60px;
}

.budget {
  font-weight: 300;
  font-family: 'Poppins';
  color: black;
  opacity: 0.37;
  position: relative;
  margin-left: 798px;
  margin-top: -30px;
}

.filter {
  position: relative;
  margin-left: 900px;
  margin-top: -60px;
}

.ini.ui.primary.button {
  width: 184px;
  height: 66px;
  position: relative;
  margin-top: -40px;
  margin-left: 34px;
}

/* Search Lokasi Wisata */

.ini.ui.category.search {
  position: relative;
  margin-left: 340px;
  color: white;
  font-size: 14px;
}

.ui.search > .prompt {
  border: 0px;
  font-size: 16px;
  color: #646B86;
  font-weight: 300;
  font-family: 'Poppins';
  width: 200px;
  margin-left: -10px;
  margin-top: -2px;

}

.ui.category.search > .results .category > .name {
  display: table-cell;
  text-overflow: ellipsis;
  width: 100px;
  white-space: nowrap;
  background: #F2F4F9;
  font-weight: 400;
  font-family: 'Poppins';
  font-size: 14px;
  padding: 0.4em 1em;
  font-weight: normal;
  color: #646B86;
}


.ui.search > .results .result .title {
  margin: 10px 0px 10px;
  font-weight: 500;
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 14px;
  color: #646B86;
}

.ui.search > .results {
  box-shadow: 0 0px 30px 0 rgba(130, 162, 189, 0.178);
  border-radius: 8px;
  border: 0px solid #E4F5FF;
}

/******* END *********/
/* Search Bagian 2 */
.itu.ui.category.search {
  position: relative;
  margin-left: 582px;
  margin-top: -40px;
  color: white;
  font-size: 14px;
}

.ui.search > .prompt {
  border: 0px;
  font-size: 16px;
  color: #646B86;
  font-weight: 300;
  font-family: 'Poppins';
  width: 200px;
  margin-left: -10px;
  margin-top: -2px;

}

.itu.ui.category.search > .results .category > .name {
  display: table-column;
  text-overflow: ellipsis;
  width: 100px;
  white-space: nowrap;
  background: #F2F4F9;
  font-weight: 400;
  font-family: 'Poppins';
  font-size: 14px;
  padding: 0.4em 1em;
  font-weight: normal;
  color: #646B86;
}


.ui.search > .results .result .title {
  margin: 10px 0px 10px;
  font-weight: 500;
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 14px;
  color: #646B86;
}

.ui.search > .results {
  box-shadow: 0 0px 30px 0 rgba(130, 162, 189, 0.178);
  border-radius: 20px;
  border: 0px solid #E4F5FF;
}

/***** Input ****/

.ui.input > input {
  width: 150px;
  height: 50px;
  margin-top: -6px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.21428571em;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins';
  padding: 0px 12px;;
  background: transparent;
  border: 0px solid rgba(34, 36, 38, 0.15);
  color: rgb(45, 46, 49);
  border-radius: 0.28571429rem;
}

.ui.label {
  background-color: transparent;
  width: 30px;
  height: 30px;
  font-weight: 300;
  font-family: 'Poppins';
}

.ui.input.focus > input,
.ui.input > input:focus {
  border-color: #85B7D9;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.atur {
  margin-left: 786px;
  margin-top: -40px;
}

/** Text **/

.txtTujuan{
  position: relative;
  padding-top: 180px;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Poppins';
  color: #F1BA46;

}

.txtDestinasi {
  position: relative;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Poppins';
  color: #293976;
}

.txtfav {
  position: relative;
  margin-top: -54px;
  font-size: 28px;
  font-weight: 300;
  font-family: 'Poppins';
  color: #293976;
}

.txtdesc {
  position: relative;
  margin-top: -20px;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Poppins';
  color: #646B86;
  opacity: 0.67;
}

.jbutton.ui.primary.button {
  margin-top:40px;
  width: 202px;
  height: 60px;
}

.thiscon {
  margin-top: 48px;
}

/** Carousel CSS **/


** { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: rgb(255, 255, 255);
  margin-left: 680px; /* space for prev/next buttons */
  position: relative;
  margin-top: -340px;
}

.carousel-cell {
  width: 290px;
  height: 380px;
  margin-right: 30px;
  background: none;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* smaller, dark, rounded square */
.flickity-prev-next-button {
  width: 44px;
  height: 44px;
  border:none;
  border-radius: 2000px;
  background: #ffffff;
}

/* arrow color */
.flickity-prev-next-button.previous .arrow {
  fill: #646B86;
}
.flickity-prev-next-button.next .arrow {
  fill: #ffffff;
}
.flickity-prev-next-button.no-svg {
  color: white;
  font-size: 20px;
}
/* position outside */
.flickity-prev-next-button.previous {
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
  left: -22px;
  background: #ffffff;
}
.flickity-prev-next-button.next {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  right: 114px;
  background: #293976;
}

.txtwisata {
  position: relative;
  margin-top: -748px;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  font-family: 'Poppins';
  color: #293976;
}